{:paths ["src" "resources"]

 :deps
 {ch.qos.logback/logback-classic {:mvn/version "1.4.8"}

  cambium/cambium.codec-cheshire {:mvn/version "1.0.0"}
  cambium/cambium.core {:mvn/version "1.1.1"}
  cambium/cambium.logback.core {:mvn/version "0.4.5"}
  cambium/cambium.logback.json {:mvn/version "0.4.5"}

  com.cronutils/cron-utils {:mvn/version "9.2.1"}
  com.github.seancorfield/honeysql {:mvn/version "2.4.1045"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.883"}
  metosin/jsonista {:mvn/version "0.3.7"}
  metosin/malli {:mvn/version "0.11.0"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  org.postgresql/postgresql {:mvn/version "42.6.0"}}

 :aliases
 {:dev  {:extra-paths ["dev" "dev/resources"]}
  :test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.85.1342"}}
         :main-opts   ["-m" "kaocha.runner"]}
  :pack {:deps {io.github.juxt/pack.alpha {:git/sha "9ae4f8ff34427d0549fd5c58c0353e54523b3dfa"}}
         :ns-default juxt.pack.cli.api}}}
